
@font-face {
    font-family: "Icons";
    src: url("fonts/Icons.eot");
    src: url("fonts/Icons.eot?#iefix") format("eot"), url("fonts/Icons.woff") format("woff"), url("fonts/Icons.ttf") format("truetype"), url("fonts/Icons.svg#Icons") format("svg");
}

.icon:before {
    font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal; /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}
.icon-icn_01-calendar:before {
content: "\E001";
}
.icon-icn_02-speech:before {
content: "\E002";
}
.icon-icn_03-pin:before {
content: "\E003";
}
.icon-icn_04-arrow-down:before {
content: "\E004";
}
.icon-icn_05-silhouette:before {
content: "\E005";
}
.icon-icn_06-twitter:before {
content: "\E006";
}
.icon-icn_07-facebook:before {
content: "\E007";
}
.icon-icn_08-acrobat:before {
content: "\E008";
}
.icon-icn_09-more:before {
content: "\E009";
}
.icon-icn_10-instragram:before {
content: "\E00A";
}
.icon-icn_11-flickr:before {
content: "\E00B";
}
.icon-icn_12-google + :before {
content: "\E00C";
}
.icon-icn_13-email:before {
content: "\E00D";
}
body * { box-sizing: border-box; }
.visual-hide, .search--input-form .form-group label, #search-facets h2 { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); position: absolute !important; }
.search-results__box__footer-meta { height: auto; }
.search--input-form .form-group { width: 100%; }
.search--input-form .form-group input { width: 80%; height: 40px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px inset; border: 1px solid rgb(162, 162, 162); border-radius: 3px 0px 0px 3px; font-size: 14px; }
.search--input-form .form-group button { width: 20%; display: inline-block; border: 1px solid rgb(83, 83, 83); line-height: normal; text-decoration: none; text-transform: uppercase; vertical-align: middle; background-color: rgb(54, 179, 240); cursor: pointer; font-family: GandhiSansBold, Arial; outline: none; -webkit-appearance: none; background-clip: padding-box; background-size: 100%; border-radius: 0px 3px 3px 0px; font-size: 0.9375rem; user-select: none; padding: 0.625rem 1rem; margin: 0px; height: 40px; text-align: center; color: rgb(255, 255, 255); background-image: linear-gradient(to top, rgb(45, 45, 45) 0%, rgb(45, 45, 45) 45.12%, rgb(58, 58, 58) 49.19%, rgb(58, 58, 58) 100%) !important; }
.search--panels .module { float: right; width: 340px; margin-right: 0px; }
.search--panels .module + .module { float: left; margin-right: 20px; }
.search--panels .module h2 { margin-bottom: 15px; color: rgb(83, 83, 83); font-size: 18px; font-family: SansaSoft, Calibri, sans-serif; }
.search--panels .box__footer { padding: 12px; }
.box.with-image .search-results__box__header { width: calc(100% - 180px); }
.box.with-image .search-results__box__content { width: calc(100% - 180px); }
.search-results__box__header { padding: 1rem 1.5rem 0px; }
.search-results__box__header h2 { position: relative; font-size: 18px; font-weight: 700; }
.search-results__box__header h2[class^="icon-"]::before { position: absolute; left: -38px; top: 0px; font-family: Icons; font-style: normal; font-weight: normal; font-variant-ligatures: normal; font-variant-caps: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -webkit-font-smoothing: antialiased; display: block; width: 26px; height: 26px; padding-top: 5px; text-align: center; border: 1px solid rgb(162, 162, 162); background: rgb(237, 237, 237); font-size: 15px; }
.search-results__box__header h2.icon-pdf::before { content: ""; color: rgb(232, 0, 0); }
.search-results__box__header h2.icon-staff::before { content: ""; }
.search-results__box__header h2.icon-map::before { content: ""; }
.search-results__box__header h2.icon-event::before { content: ""; }
.search-results__box__header h2.icon-faq::before { content: ""; }
.search-results__box__header h2 a { display: inherit; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: none; text-decoration: underline; color: rgb(0, 136, 202); }
.search-results__box__header p { margin: 0px; font-size: 12px; font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.search-results__box__content { padding: 1rem 1.5rem; }
.search-results__box__content.faq, .search-results__box__content.faq p { font-size: 16px; }
.search-results__box__content.faq small { font-size: 12px; }
.search-results__box__content p { font-size: 13px; }
.search-results__box__content p .search-keyword { font-weight: 700; }
.search-results__box__content ul { zoom: 1; padding: 0px; margin: 0px; }
.search-results__box__content ul::before, .search-results__box__content ul::after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.search-results__box__content ul::after { clear: both; }
.search-results__box__content li { float: left; width: 49%; margin: 10px 2% 10px 0px; list-style: none; font-size: 12px; line-height: 1.5; }
.search-results__box__content li:nth-child(2n+2) { margin: 10px 0px; }
.search-results__box__footer-meta { zoom: 1; border-top: 1px solid rgb(204, 204, 204); padding: 1rem 1.5rem; background: rgb(237, 237, 237); }
.search-results__box__footer-meta::before, .search-results__box__footer-meta::after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.search-results__box__footer-meta::after { clear: both; }
.search-results__box__footer-meta div[class^="meta-"] { line-height: 1; }
.search-results__box__footer-meta div[class^="meta-"] p, .search-results__box__footer-meta div[class^="meta-"] a { width: 100%; font-size: 12px; font-weight: 700; margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.search-results__box__footer-meta .meta-primary { float: left; width: 50%; }
.search-results__box__footer-meta .meta-primary a[class^="share-"] { display: inline-block; vertical-align: bottom; width: 20px; height: 21px; border: none; margin-left: 5px; }
.search-results__box__footer-meta .meta-primary a[class^="share-"]::before { font-family: Icons; font-style: normal; font-weight: normal; font-variant-ligatures: normal; font-variant-caps: normal; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -webkit-font-smoothing: antialiased; display: block; width: 20px; height: 20px; text-align: center; font-size: 18px; line-height: 1.3; }
.search-results__box__footer-meta .meta-primary a[class^="share-"].share-facebook::before { content: ""; color: rgb(59, 89, 152); }
.search-results__box__footer-meta .meta-primary a[class^="share-"].share-twitter::before { content: ""; color: rgb(0, 172, 237); }
.search-results__box__footer-meta .meta-primary a[class^="share-"].share-more::before { content: ""; color: rgb(162, 162, 162); }
.search-results__box__footer-meta .meta-primary a[class^="share-"].share-google::before { content: ""; color: rgb(211, 72, 54); }
.search-results__box__footer-meta .meta-primary a[class^="share-"].share-email::before { content: ""; color: rgb(0, 136, 202); }
.search-results__box__footer-meta .meta-location { float: left; width: 30%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.search-results__box__footer-meta .meta-location a { text-decoration: underline; font-weight: normal !important; }
.search-results__box__footer-meta .meta-location a.map-marker { position: relative; padding-left: 20px; }
.search-results__box__footer-meta .meta-location a.map-marker::before { position: absolute; left: 0px; top: 0px; content: ""; font-family: Icons; font-style: normal; font-weight: normal; font-variant-ligatures: normal; font-variant-caps: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -webkit-font-smoothing: antialiased; display: block; width: 15px; height: 15px; text-align: center; font-size: 15px; color: rgb(45, 45, 45); }
.search-results__box__footer-meta .meta-expand { float: right; width: 20%; text-align: right; }
.search-results__box__footer-meta .meta-expand a { position: relative; color: rgb(162, 162, 162); border: none; padding: 3px 10px 3px 0px; }
.search-results__box__footer-meta .meta-expand a::before { position: absolute; right: -5px; top: 5px; content: ""; font-family: Icons; font-style: normal; font-weight: normal; font-variant-ligatures: normal; font-variant-caps: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -webkit-font-smoothing: antialiased; display: block; width: 10px; height: 4px; text-align: center; font-size: 4px; color: rgb(162, 162, 162); }
.search-results__box__footer-meta .meta-expand a.button, .meta-expand--button { display: block; box-shadow: none; background-color: transparent; text-transform: none; padding: 0px 10px 0px 0px; transition: margin 0.3s ease-in-out; position: relative; font-family: Helvetica, Arial, sans-serif; text-align: right; background-image: none !important; color: rgb(162, 162, 162) !important; border: none !important; overflow: visible !important; }
.search-results__box__footer-meta .meta-expand a.button::before, .meta-expand--button::before { position: absolute; right: -5px; top: 5px; content: ""; font-family: Icons; font-style: normal; font-weight: normal; font-variant-ligatures: normal; font-variant-caps: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -webkit-font-smoothing: antialiased; display: block; width: 10px; height: 4px; text-align: center; font-size: 4px; color: rgb(162, 162, 162); transition: transform 0.3s ease-in-out; transform: rotate(0deg); }
.search-results__box__footer-meta .meta-expand a.button.is-expanded, .meta-expand--button.is-expanded { margin-bottom: 20px !important; }
.search-results__box__footer-meta .meta-expand a.button.is-expanded::before, .meta-expand--button.is-expanded::before { transform: rotate(-180deg); }
.search-results__box__footer-meta div[class^="meta-"].meta-expand--more p, .search-results__box__footer-meta div[class^="meta-"].meta-expand--more a { width: 100%; font-size: 13px; font-weight: normal; margin: 0px; white-space: normal; overflow: visible; text-overflow: inherit; }
.search-results__box__footer-meta div[class^="meta-"].meta-expand--more .button { float: left; width: auto; font-size: 14px; }
.search-results__box__footer-meta div[class^="meta-"].meta-expand--more .button + .button { margin-left: 5px; }
.search-results__box__footer-meta div[class^="meta-"].meta-expand--more p { margin-bottom: 20px; }
.secondary-content .social-feed li { margin: 0px 0px 7px; }
.site-search { position: relative; }
.site-search #search-facets { top: 43px; width: 63.5%; }
.search--input-form .form-group { display: table; position: relative; border-collapse: separate; width: 100%; }
.search--input-form .form-group #search-facets { top: 43px; width: 80%; text-align: left; }
.best-guess .box { background-color: rgb(255, 250, 237); border-color: rgb(255, 191, 0); }
.page-search .secondary-content { float: right; max-width: 200px; }
.search--input-form .form-group button { width: 20%; border: 1px solid rgb(83, 83, 83); text-decoration: none; text-transform: uppercase; vertical-align: middle; background-color: rgb(54, 179, 240); cursor: pointer; font-family: GandhiSansBold, Arial; outline: none; -webkit-appearance: none; background-clip: padding-box; background-size: 100%; border-radius: 0px 3px 3px 0px; font-size: 0.9375rem; user-select: none; padding: 0.625rem 0px; height: 45px; text-align: center; color: rgb(255, 255, 255); margin: 0px auto; display: inline-block; max-width: none; background-image: linear-gradient(to top, rgb(45, 45, 45) 0%, rgb(45, 45, 45) 45.12%, rgb(58, 58, 58) 49.19%, rgb(58, 58, 58) 100%) !important; line-height: normal !important; }
.search--input-form .form-group .tokenfield-button button { padding: 0.625rem 1rem; width: auto; }
.search--input-form .form-group .tokenfield .token-input { background: none 0px 0px repeat scroll transparent; border: 0px none; box-shadow: none; height: 20px; margin-bottom: 6px; padding: 0px; float: left; min-width: 60px; width: inherit; }
.search--input-form .form-group button { height: 44px; }
.search--input-form .form-group .tokenfield .token-input { height: 40px; margin-bottom: 0px; }
.secondary-content .social-share__icons li { display: inline-block; list-style: none; margin: 0px 10px 5px 0px; }

@media only screen and (min-width: 1024px) {
 .site-navi .site-navi__layout {
height: 52px;
 }
 }
@media only screen and (min-width: 1441px) {
.site-navi .site-navi__layout {
height: 71px;
}
}
.secondary-content .social-share__icons li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 5px 0;
}
.social-share__icons a {
    display: inline-block;
    border-bottom: none!important;
}

@media only screen and (min-width: 1200px){
.social-share__icons li {
    font-size: 26px!important;
}
}
@media only screen and (min-width: 1024px){
.social-share__icons li {
    font-size: 26px!important;
    margin: 0 10px 0 0;
    margin: 0 .625rem 0 0;
}
}

.cust_quest_det .search-results__box__header{
padding: 1rem 0.2rem 0px;
}

div.rn_ButtonQuestion button:first-child{
    margin-left: 10px;
}

.kiosk.panel--two-columns{
    border-left: 0;
    border-top: 0;
    padding-top:5px ! important;
}

.kiosk .button{
    width: 400px; 
    text-align: center
}

.kiosk .box{
    border:0px; 
    background-color: transparent
}

.kiosk a > span{
    display: inherit;
    padding: 20px 0;
    font-size: 1.5em;
}

.kiosk-button{
    padding: 20px 20px;
    font-size: 1.2em;
}

.kiosk #source_res_wrapper{
	overflow-y: auto;
	height: 600px;
}

.kiosk #source_res_wrapper ol{
	padding-left: 15px;
}

.pull-right{
	float: right;
}

.kiosk #source_res_wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.kiosk #source_res_wrapper::-webkit-scrollbar
{
	width: 30px;
	background-color: #F5F5F5;
}

.kiosk #source_res_wrapper::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #29b5b4;
}