.rn_FieldDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_FieldDisplay .rn_DataValue{margin-left: 180px;word-wrap: break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
.custom_name .rn_FieldDisplay .rn_DataLabel{font-size: 14px;width: 100%;}
.custom_name .rn_FieldDisplay .rn_DataValue{margin-left: 0px !important;}
.custom_name .rn_FieldDisplay{margin-bottom: 1.6em;}
#login_wrapper{float:right;font-size: 0.75rem;}
#login_wrapper .rn_FieldDisplay{display:inline-block;}
#login_wrapper .rn_FieldDisplay .rn_DataLabel{display:none;}
#login_wrapper .rn_FieldDisplay .rn_DataValue{margin-left:0;}
.rn_Multiline{overflow: hidden;}
.rn_Multiline .rn_Loading{font-size: 2.5em;line-height: 2em;text-align: center;}
.rn_Multiline .rn_Element1, .rn_Multiline .rn_Element2{font-size: 1.333em;}
.rn_Multiline .rn_Element3{display: block;font-size: 1em;line-height: 1.3em;}
.rn_Multiline .rn_ElementsHeader, .rn_Multiline .rn_ElementsData{color: #5e5e5e;font-size: 0.8em;}
.rn_Multiline .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_Multiline ol, .rn_Multiline ul{padding-top: 0.3em;}
.rn_Multiline ol li, .rn_Multiline ul li{margin-bottom: 1em;}
@font-face{font-family: "Icons";src: url("http://students.curtin.edu.au/resources/curtin-edu-au-portal/css/fonts/Icons.eot");src: url("http://students.curtin.edu.au/resources/curtin-edu-au-portal/css/fonts/Icons.eot?#iefix") format("eot"), url("http://students.curtin.edu.au/resources/curtin-edu-au-portal/css/fonts/Icons.woff") format("woff"), url("http://students.curtin.edu.au/resources/curtin-edu-au-portal/css/fonts/Icons.ttf") format("truetype"), url("http://students.curtin.edu.au/resources/curtin-edu-au-portal/css/fonts/Icons.svg#Icons") format("svg");}
#source_res_wrapper .rn_Multiline{overflow:visible;}
#source_res_wrapper .rn_Multiline .rn_Content li{overflow:visible;list-style:none;border: 1px solid #e6e8e9;background-color: #FFFFFF;margin: 20px 0px;padding: 6px 0px 0px 0px;}
#source_res_wrapper .rn_Element1::before{font-family: 'Icons';content: "\E002";font-size:15px;border:1px solid #a2a2a2;background:#EDEDED;color:#051C2A;padding:4px;margin-left: -14px;}
#source_res_wrapper .rn_Multiline .rn_ElementsData{display: block;border-top: 1px solid rgb(204, 204, 204);padding: 1rem 1rem 1.5rem 1rem;background: rgb(237, 237, 237);color: #43545f !important;font-family: Helvetica,Arial,sans-serif !important;font-weight: bold !important;}
#source_res_wrapper .rn_Multiline .rn_ElementsHeader{float: left;border-top: 1px solid rgb(204, 204, 204);padding: 1rem 0.5rem 1.5rem 1.5rem;background: rgb(237, 237, 237);color: #43545f !important;font-family: Helvetica,Arial,sans-serif !important;font-weight: bold !important;}
#source_res_wrapper .rn_Element1 a:link, #source_res_wrapper .rn_Element1 a:visited{border-bottom: none;color: #0088ca;text-decoration: underline;font-size: 18px;font-weight: 700;margin-left:6px;}
#source_res_wrapper .rn_Element1 a:hover{text-decoration:none;color:#333;}
#source_res_wrapper .rn_Content li{border: 1px solid #e6e8e9;background-color:#FFFFFF;margin:20px 0px;}
#source_res_wrapper .rn_Summary{padding:1rem 1.5rem;}
#source_res_wrapper ol > li{list-style: none !important;}
#source_res_wrapper .rn_Multiline .rn_Element1, .rn_Multiline .rn_Element2{font-size: 1 em;}
#source_res_wrapper .rn_Multiline .rn_Element3{padding: 1rem 1.5rem;}
.rn_Multiline .rn_Element2{font-size: 18px !important;font-weight: 700 !important;}
.rn_Multiline .rn_Element2 span{color: #cc9900 !important;}
.rn_SocialBookmarkLink img{vertical-align:middle;}
.rn_SocialBookmarkLink .rn_Panel{overflow:hidden;}
.rn_SocialBookmarkLink ul{padding:0;margin:0;}
.rn_SocialBookmarkLink ul li{display:inline;float:left;list-style-type:none;}
.rn_SocialBookmarkLink > a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f14d";}
.rn_SocialBookmarkLink a:hover{white-space: normal;}
.rn_SocialBookmarkLink .rn_Panel{border-radius: 2px;background: #FFF;border: 1px solid #DDD;padding: 6px 9px 10px;}
.rn_SocialBookmarkLink .rn_Panel li{height: 16px;line-height: 1.4em;margin: 4px;}
.rn_SocialBookmarkLink .rn_Panel li.rn_Link1:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f09a";color: #3b5998;}
.rn_SocialBookmarkLink .rn_Panel li.rn_Link2:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f099";color: #55acee;}
.rn_SocialBookmarkLink .rn_Panel li.rn_Link3:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f08c";color: #3692c3;}
.rn_SocialBookmarkLink .rn_Panel li.rn_Link4:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f1a1";color: #336699;}
.rn_CurtinSocialBookmarkLink.rn_SocialBookmarkLink{}
.rn_CurtinSocialBookmarkLink > a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f14d";}
.rn_CurtinSocialBookmarkLink .rn_Panel{border-radius: 0px;background: #FFF;border: 0px;padding: 0px 0px 0px;}
.rn_CurtinSocialBookmarkLink a:hover{white-space: none;}
.rn_CurtinSocialBookmarkLink .rn_Panel li{height: auto;line-height: 1em;margin: 4px;margin-right: 15px;}
.rn_CurtinSocialBookmarkLink a.rn_Link1{color: #3b5998 !important;}
.rn_CurtinSocialBookmarkLink a.rn_Link2{color: #00aced !important;}
.rn_Link .ss-icon social-LinkedIn{color: #007bb6 !important;}
.rn_CurtinSocialBookmarkLink .rn_Panel li.rn_Link1::before{font-family: 'FontAwesome';margin-right: 10px;content: none;color: #3b5998;}
.rn_CurtinSocialBookmarkLink .rn_Panel li.rn_Link2::before{font-family: 'FontAwesome';margin-left: 20px;content: none;color: #00aced;}
.rn_CurtinSocialBookmarkLink .rn_Panel li.rn_Link3::before{font-family: 'FontAwesome';margin-left: 20px;content: none;color: #007bb6;}
.rn_CurtinSocialBookmarkLink .rn_Panel li.rn_Link4::before{font-family: 'FontAwesome';margin-left: 20px;content: none;color: #dd4b39;}
.rn_EmailAnswerLink > a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0e0";}
.custom-social-panel .rn_EmailAnswerLink > a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0e0";margin-left: 8px;font-size: 25px;color: #F2B500;}
.rn_CurtinEmailAnswerLink.rn_EmailAnswerLink{}
.rn_CurtinEmailAnswerLink > a.ss-icon:before{content: none;}
.rn_CurtinSocialBookmarkLink .rn_Panel li{margin-right: 12px;}
.rn_CurtinEmailAnswerLink > a:first-child{display: block;margin-top: 2px;}
.rn_CurtinEmailAnswerLink > a{display: none;}
.rn_CurtinEmailAnswerLink.rn_EmailAnswerLink{}
